.header {
  left: 5%;
  top: 10%;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  background-color: #0d084c;



}
.imagem {
  display: flex;
  height: 5rem;
  width: 5rem;

}
.body{
}

.main-img-cont{

  display: flex;
  justify-content: center;
  align-items:center;
  width: 10rem;

}

.logo {
  margin: 0.5rem;
  width: 8rem;
  height: 6rem;

}

.main-menu {
width: 100%;
display: flex;
align-items:  center;
justify-content:  space-around;
}

.main-menu-item {
 
  margin-left: 0.5rem;
  font-family: 'Lora', serif;
  background-color: pink;
  line-height:6rem;
  
 }

 .link{
  color: #0d084c;
  text-decoration: none;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;

 }

/* index.html */

.index-title {
  display: flex;
  justify-content: space-around;
  border-spacing: 1rem;
  align-items: center;
  flex-direction:column;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  
}

.img-index{
  width: 30rem;
  height:30rem;
  border-radius: 2rem;

}

.para-index{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  font-family: 'Lora', serif;
  font-size:5rem;
  text-align: center;
  margin-top: 2rem;
  color: #0d084c;
  

}

.sections-menu {
  margin-top: 1rem;
  margin-left:1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

}

.sections-menu-item {

  margin-top: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 10rem;
}

.sections-menu-item-image {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
}

.sections-menu-item-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  width: 15rem;
  height: 15rem;
}
.sections-menu-item-text-title{
  padding-bottom: 0.5rem;
  font-family: 'Lora', serif;
  line-height: 1.5rem;
  padding-top: 2rem;
  font-size:1rem;
  color: #0d084c;
}

/* secao.html */

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:column;
  margin-top: 2rem;
  width: 100%;
  height: 100%;

}

.section-title-image {
  width: 40rem;
  height: 30rem;
  border-radius: 2rem;

}

.section-para{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  font-family: 'Lora', serif;
  font-size:2.5rem;
  text-align: center;
  margin-top: 2rem;
  color:#0d084c;
}

.books-menu {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

}

.books-menu-item {
  
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%
}

.books-menu-item-image {
  width: 50rem;
  height: 40rem;
  border-radius: 2rem;
}

.books-menu-item-text {

  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-left: 1rem;
  width: 20rem;
  height: 15rem;

}
.especial {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-left: 1rem;
  width: 60rem;
  height: 15rem;
}

.texto{
  padding-top: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  color: #575e60;
}

/* livro.html */

.book-main{
  display: flex;
  flex-wrap: wrap;

}

.book-title {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  font-weight: bold;
  font-family: 'Lora', serif;
  font-size:2.5rem;
  color:#0d084c;

}

.book-cont{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}

.book-image-cont{
  display: flex;
  justify-content: center;
  align-items:center;
  padding:2rem;
  width: 30rem;
}

.book-image {

  width: 20rem;
  height: 30rem;
}

.book-text {
  padding: 2rem;
  width: 30rem;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5rem;
}

.destaque{
    font-family: 'Lora', serif;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    font-size:1rem;
    color: #0d084c;

}




